
:root {
    --primary: #E3D7FF;
    --secondary: #731963;
    --dark:#4F0147;
    --light: #C9EDDC;
    --batman: rgb(207, 187, 214);
     
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.HomePage{
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.calculator{
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 1.5rem;
    overflow: hidden;
    
}

input{
    width:100%;
    font-size: 1.2rem;
    padding: 8px 4px;
    margin: 8px 0;
    border-radius: 8px;
    color:var(--dark);
    font-weight: bold;
    align-content: center;
    text-align: center;
}

#calculate {
    appearance: none;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
    background-color: #0A2E36;
    border-radius: 4px;
    color: white;
    margin: 10px;
}

#calculate:hover {
    opacity: 0.9;
    background-color: #4C8577;
    color: white;
  }

#clear{
    appearance: none;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
    background-color: var(--dark);
    color: white;
    margin : 10px;
}

#clear:hover {
    opacity: 0.9;
    background-color: var(--secondary);
    color: white;
}




.center{
    text-align: center;
    margin: 24px 0;
}

p{
    margin: 10px 0;
}