

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Eczar-Medium";
}

@font-face {
  font-family: "Eczar-Medium";
  src: local("Eczar-Medium"), url("./fonts/Eczar-Medium.ttf") format("truetype");
}

.BAC-title{
  text-align: center;
  font-family: "Eczar-Medium";
  font-size: 4rem;
  /* margin: 24px 0; */
  padding-bottom: 5%;
  color: #fffafa;
  /* color: #f09d0b; */
  font-weight: bold;

}


.BAC-mainPage {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: #DDAAA5;
}

.calculator {
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 2.5rem;
  overflow: hidden;
  background-color: #fffafa;
}

input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0;
  border-radius: 8px;
  font-weight: bold;
  align-content: center;
  text-align: center;

  
}


.BACbuttonContainer {
  padding-left: 6%;
  padding-top: 5%;
}

#calculate {
  appearance: none;
  border: none;
  outline: none;
  font-size: 16px;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.4s;
  background-color: rgba(199, 233, 253, 255);
  background-color: #f09d0b;
  border-radius: 27px;
  color:  #fffafa;
  margin: 10px;
  display: inline-block;
 
}


#retry {
  appearance: none;
  border: none;
  outline: none;
  font-size: 16px;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.4s;
  background-color: rgba(199, 233, 253, 255);
  background-color: #f09d0b;
  border-radius: 27px;
  color:  #fffafa;
  margin: 10px;
  text-align: center;
 
}


#calculate:hover {
  opacity: 0.9;
  background-color:  #66222e;
  color: white;
}

#clear {
  appearance: none;
  border: none;
  outline: none;
  border-radius: 27px;
  font-size: 16px;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.4s;
  background-color: #f09d0b;
 
  color:  #fffafa;
  margin: 10px;
}

#clear:hover {
  opacity: 0.9;
  background-color:  #66222e;
  color: white;
}

.center {
  text-align: center;
  margin: 24px 0;
}

p {
  margin: 10px 0;
}
.BAC-img {
  text-align: center;
}
.BAC-img img {
  height: 225px;
}

.bac-labelStyle{
  color: #66222e;
  font-family: "Eczar-Medium";
  font-weight: lighter;
  font-size: 1.3rem;
 
}

.bac-sectionInput{
padding-bottom: 3%;

}