.faq-buttonStyle {
  margin: 0 auto;
  display: block;
  width: 20%;
  padding: 2%;
  background-color: #e3d7ff;
  color: rgb(150, 123, 171);
  text-align: center;
  border-style: none;
  font-family: "Eczar-Medium";
  font-size: 20px;
  z-index: 1;
  align-items: center;
}

.faq-buttonStyle:hover {
  background-color: rgb(150, 123, 171);
  color: #fffafa;
}

.faq-buttonStyle-selected {
  margin: 0 auto;
  display: block;
  width: 20%;
  padding: 2%;
  font-size: 20px;
  background-color: rgb(150, 123, 171);
  color: #fffafa;
  text-align: center;
  border-style: none;
  font-family: "Eczar-Medium";
  z-index: 1;
  align-items: center;
}

.faqStyle {
  margin: 50px;
}
