.HelpPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: "#689fff";
}

.helpButton {
  display: block;
}

.answer {
  font-weight: lighter;
  font-family: "Eczar-Medium";
  font-size: 30px;
}

.link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.link:hover {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.newList {
  text-align: center;
  font-size: 15px;
  font-family: "Eczar-Medium";
  font-weight: lighter;
}
.newBullet {
  text-align: left;
  margin: 5px;
}

.cards {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 32px 32px 0 rgba(31, 38, 135, 0.67);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.helpButtonStyle {
  padding: 2%;
  width: 300px;
  background-color: #8db0ef;
  text-align: center;
  border-style: none;
  font-size: 20px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.helpButtonStyle:hover {
  background-color: #b2d7f8;
  color: white;
}
