

@font-face {
    font-family: "Eczar-Medium";
    src: local("Eczar-Medium"),
    url("./fonts/Eczar-Medium.ttf") format("truetype");
  }

.header{
    /* position: relative;
    
    z-index: 10000;  */
     padding-top:65px; 
   
    background-color:#ddaaa5 ;
}

.main-background{
   height: 80vh;
   background-color:#ddaaa5 ;
  
}

.top-sectionRow{

    padding-top: 3%;
    align-items: center;

}

.top-sectionRow:after{
    content: "";
    display: table;
    clear: both;
   
}

.left-column{
    float: left;
    padding-left: 7%; 
    width: 50%;
    background-color:#ddaaa5; 
  
   
}

.right-column{
    float: right;
    width: 50%;
    background-color:#ddaaa5;
    
}

.img-style1{
    width: 100%;
    height: auto;
    
}
.img-style2{
    width: 100%;
    height: auto;
    border-radius: 20px;
    
}
.buttonContainer{
    text-align: center;
    padding-bottom: 2%;

}
.quiz-buttonStyle{
    margin: 0 auto;
    display: block;
    width: 20%;
    padding:2%;
    background-color: #fffafa;
    color: #bb4f25;
    text-align: center;
    border-style: none;
    font-family: "Eczar-Medium";
    z-index: 1; 
    align-items: center;

 
}
.quiz-buttonLinkStyle{
    
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.quiz-buttonStyle:hover{
    background-color: #bb4f25;
    color:  #fffafa;

}
.howItWorks{
    padding-top: 4%;
    background-color: #ffae55;

}
.howItWorks-title{
    font-family:"Eczar-Medium";
    text-align: center;
    color:  white;
    padding-bottom: 5%;
   

}


.columnStyle{
    float: left;
    width: 33.33%;
    padding-bottom: 20%;
    text-align: center;
   

}

.rowStyle:after{
    content: "";
    display: table;
    clear: both;
  
  }

  .img-howItWorks{
    align-items: center;
  }

.howItWorks-text{
    padding-top: 5%;
    font-family:"Eczar-Medium";
}

.HIW-Glass1 {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 250px;
}

.HIW-Glass2 {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 250px;
}

.HIW-Glass3 {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 250px;
}

/* Smaller screen size */
@media screen and (max-width: 600px) {
    .right-column
     {
        width: 100%;
    }
    .left-column
     {
        width: 100%;
    }
    .img-style2{
        height: 250px;
        
    }
  }