
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Eczar-Medium";
  src: local("Eczar-Medium"),
  url("./fonts/Eczar-Medium.ttf") format("truetype");
}


/* App Name */
.appName {
  text-decoration: none;
  /* color: #88c1c0; */
  color: #bb4f25;
  font-size: 1.3rem;
  margin-left: 0.2rem;
  font-family: "Eczar-Medium";
}

.appName:hover {
  color:#223311;
}

.linksStyle{
  text-decoration: none;
  /* color: #88c1c0; */
  color: #bb4f25;
  font-family: "Eczar-Medium";
}

.linksStyle:hover{
  text-decoration: underline;
  color: #223311;
}

/* class for the overall navgiation section*/
.navigationHeader {
  position: relative;
  height: 70px;
  width: 100%;
  padding: 0.7rem 0.3rem;
  box-shadow: 0 1px 2px 2px rgba(9, 9, 9, 0.19);
  display: flex;
  align-items: left;
 
  
  /* background-color: white; */
   /* background-color: #fffcec;   */
   background-color: #fffafa;
    /* background-color: #e2aa5b;   */

}

.menu{
  top: 5px;
  overflow: hidden;
  margin-left: auto;
  position: relative ;
}

.menu li {
  list-style-type: none;
  margin: 0 0.5rem;
}

.menu li Links {
  display: block;
  width: 100%;
}

.menu ul {
  padding: 0.2rem;
  display: flex;
}







