@font-face {
    font-family: "Eczar-Medium";
    src: local("Eczar-Medium"),
    url("./fonts/Eczar-Medium.ttf") format("truetype");
  }

.quizLoaderMain {
    background-color: #ffe5f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Eczar-Medium";
    width: 100vw;
    height: 100vh;
    padding-bottom: 100px;
}

.quizLoaderButton {
    text-align: center;
    padding-bottom: 2%;
    
}

.quizAnim {
    margin-top: 0;
}

.quiz-Linked {
  
    text-decoration: none;
    
}

.quizLoaderButton-Style{
    margin: 0 auto;
    display: block;
    width: 130px;
    height: 55px;
    /* background-color: #fffafa; */
    background-color: #feba12;
    border-radius: 27px;
    color: #914644;
    text-align: center;
    border-style: none;
    font-family: "Eczar-Medium";
    
}

.quizLoaderButton-Style:hover{
    background-color: #bb4f25;
    color:  #fffafa;
}