
/* REVAMPLED QUIZ CSS */

@font-face {
  font-family: "Eczar-Medium";
  src: local("Eczar-Medium"),
  url("./fonts/Eczar-Medium.ttf") format("truetype");
}

.main-Quiz {
  background-image: url("./quizImages/Pink-Lemons.png"); 
  background-color: #f4d0e7;
  background-position: center;
  background-repeat: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Eczar-Medium";
  width: 100vw;
  padding-bottom: 60vh;
}
  
.blurQuiz {
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 50px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 80%;
    min-height: max-content;
    padding-bottom: 80px;
}
.quizHeading1 {     /*Drinking Buddy Quiz*/
  
  color: rgb(97, 1, 67);
  font-weight: bold;
}

.quizHeading1:hover {     /*Drinking Buddy Quiz*/
  color: #9C6683;
  opacity: 0.8;
  font-weight: bold;
}

.questionNumber {   /* Current Question */
  color: #880661;
}

.questionContents {   /* Current Question Text */
  color: #c79800;
}

.choices {
  background-color: #B2CEFF;
  display: inline-flex;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: larger;
  border-radius: 10px;
  cursor:pointer;
  transition: 500ms;
}

.choices:hover {
  background-color: #f7ca38;
  color: #880661;
  transition: 500ms;
}

.choices:active {
  background-color: #880661;
  color: white;
  transition: 500ms;
}

.quiz-Links {
  background: rgba(255, 255, 255, 0.375);
  color: #880661;
}

